@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*COLORES PRINCIPALES*/
:root {
    --body-color: #E4E9F7;
    --nav-color: #1683CE;
    --side-nav: #1683CE;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010718;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    color: #76c8ff;
}

/*BANNER*/
.banner {
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

/*BARRA DE NAVEGACION*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: auto;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 30px;
    font-weight: auto;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

/*--SUBMENU-------------------------------------*/
.nav-links .submenu {
    display: none;
    /* El submenú estará oculto inicialmente */
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;

    /* CAMBIOS PARA CENTRAR */
    left: 33%;
    transform: translateX(-50%);

    background-color: #1683CE;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-links .submenu li a {
    display: block;
    padding: 10px 20px;
    /* Espaciado interno para los elementos del submenú */
    color: #fff;
    /* Color del texto */
    text-decoration: none;
    white-space: nowrap;
}
/* Esto oculta el submenú por defecto en el modo de escritorio */
.has-submenu>.submenu {
    display: none;
}

/* Esto muestra el submenú en escritorio y móvil cuando la clase 'active' está presente */
.has-submenu.active>.submenu {
    display: block;
}
/* Mostrar el submenú cuando el cursor está sobre el elemento padre (li) */
.nav-links .has-submenu.submenu-open>.submenu {
    display: block;
    /* Muestra el submenú cuando el padre tiene la clase submenu-open */
}

/*---------------------------------------*/

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 6px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: transform 0.3s;
}

.nav-links li a:hover {
    transform: scale(1);
    color: rgb(9, 0, 112);

}

/*ICONOS EN LA BARRA DE NAVEGACION*/
.searchBox {
    display: flex;
    align-items: center;
    position: relative;
}

.iconUser {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
    transition: transform 0.3s;
}

.iconUser i:hover {
    transform: scale(1.3);
    color: rgb(9, 0, 112);
}

.iconCarrito {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s;

}

.iconCarrito i:hover {
    transform: scale(1.3);
    color: rgb(9, 0, 112);
}

.iconCarrito span {
    position: absolute;
    top: -1px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 15px;
}

.searchToggle i:hover {
    transform: scale(1.3);
    color: rgb(9, 0, 112);
}

.searchToggle {
    height: 70px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    position: relative;
}

.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox .search-field {
    position: absolute;
    bottom: -90px;
    right: 30px;
    height: 50px;
    width: 570px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid #1683CE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    max-width: 440px;
}
/* Formulario de búsqueda */
.search-field form {
    display: flex;
    width: 100%;
}

/* Campo de entrada de texto */
.search-field input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 8px 10px;
    font-size: 16px;
    color: #000;
    background-color: transparent;
}

/* Botón de búsqueda */
.search-field button {
    background-color: #fff;
    color: #000;
    border: none;
    width: 40px;
    align-items: center;
}
/* Ícono de búsqueda */
.search-field button i {
    font-size: 20px;
}
.searchToggle.active~.search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 15px;
    top: -5px;
    height: 15px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input {
    height: 45px;
    /*altura del buscador*/
    width: auto;
    /*ancho del buscador*/
    padding-right: 308px;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e9ecef;
}
/* Pie de página */
.main-footer {
    background: linear-gradient(to right, #095b91, #00b4e0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex-basis: 200px;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer-logo img {
    max-height: 90px;
    width: auto;
}

.footer-logo p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

.footer-section h4 {
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

/* --- */
@media (max-width: 1200px) {
     nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 250px;
        left: -100%;
        top: 0;
        padding: 10px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: 0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidelbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
        font-size: 15px;
    }

    .nav-links .submenu {
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: none;
        padding: 0;
    }

    /* Muestra el submenú cuando el padre tiene la clase 'active' */
    .has-submenu.active .submenu {
        display: block;
        padding: 0;
        text-align: center;
    }

    /* Ajuste para los enlaces del submenú en móvil */
    .nav-links .submenu li a {
        padding: 10px 0;
        display: block;
    }

    .nav-links .submenu {
        top: 50%;
        left: 50%;
    }

    .nav-bar .nav-links li a {
        font-size: 16px;
        text-align: center;
    }
}

/* Media query para dispositivos con un ancho máximo de 750px */
@media (max-width: 750px) {

    /* Navegación */
    nav {
        padding: 0 20px;
        height: 80px;
    }

    nav .nav-bar .logo a {
        font-size: 24px;
    }

    .nav-bar .nav-links li a {
        font-size: 16px;
        text-align: center;
    }

    /* Pie de página */
    .main-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        flex-basis: auto;
    }
}

@media (max-width: 450px) {
    .searchBox .search-field {
        width: 200px;
    }

    .iconUser {
        font-size: 20px;
    }

    .iconCarrito {
        font-size: 20px;
    }

    .searchToggle i {
        font-size: 20px;
    }

}

/* ------------------- */
/* BANNER DE OFERTAS */
.banner.ofertas-banner {
    height: 400px;
    background-image: url(../img/camaradeseguridadOfertas.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 40px;
}

.banner.ofertas-banner h1 {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 36px;
    color: rgb(243, 243, 243);
    background: none;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

/* SECCIÓN DE PRODUCTOS */
.productos {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.producto {
    background-color: var(--nav-color); 
    color: var(--text-color);
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.producto p {
    margin: 5px 0;
    font-weight: bold;
}

.producto button {
    margin-top: 10px;
    background-color: #003249;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #005b82;
}


    .searchBox .search-field {
        position: absolute;
        bottom: -50px;
        right: 10px;
        height: 50px;
        width: 300px;
    }