body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: white;
        }.top-bar {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        gap: 30px;
    }

    .top-bar img {
        height: 70px;/*tamaño del logo*/
    }
     .search-container {/* barra de busqueda */
    position: relative;
    width: 100%;
    max-width: 1000px;
   }

.search-container input[type="text"] {
  width: 100%;
  padding: 10px 70px 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid #ccc;
  font-size: 16px;
}

.search-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #005f9e;
  font-size:20px;
  cursor: pointer;  
}


    .login {
        background-color: #1683CE;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
    }
    .login:hover {
        background-color: #0a5f8c; /* Cambia el color al pasar el mouse */
    }

    .carrito {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 20px;
    }

    .carrito i {
        font-size: 20px;
        color: #1683CE;
        transition: background-color 0.3s ease;
    }
    
    .carrito i :hover{
         background-color: #0a5f8c;
    }
    .carrito span {
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
    }

    .nav-bar { /*barra de navegacion*/ 
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }
/*modificar botonos por si quieren cambiar*/
    .nav-bar button {
        background-color: #1683CE;
        color: white;
        border: none;
        padding: 5px 50px;
        border-radius: 20px;
        cursor: pointer;
        transition: transform 0.3s ease;
        transition: background-color 0.3s ease;
    }
    .nav-bar button:hover {
        transform: scale(1.10); /* Hace el botón más grande al pasar el mouse */
         background-color: #0a5f8c;
    }

    .banner {
        position: relative;
        text-align: center;
    }

    .banner img { /*imagen de la camara*/
        width: 100%;
        height: 800px;
    }

    .banner-text {
        position: absolute;
        top: 30%;
        left: 10%;
        color: white;
        text-shadow: 1px 1px 4px #000;
    }
    .banner-text h2 {
        font-size: 32px;
        margin: 0;
    }

    .vista-rapida {
        background-color: #CAF0F8;
        padding: 20px;
        text-align: center;
    }

    .vista-rapida h3 {
        margin-bottom: 15px;
    }

    .productos {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        overflow-x: auto;
        padding: 10px;
    }

    .producto {
        background: white;
        border-radius: 10px;
        padding: 20px;
        width: 200px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        text-align: center;
         transition: transform 0.3s ease;/* hace que se haga grande xd */
        
    }
     .producto:hover {
      transform: scale(1.10); /* Hace el producto más grande al pasar el mouse */
    }
    .producto img {
        width: 100%;
        height: 100px;

    }
   

    .arrow {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .experiencia {
        background-color: white;
        text-align: center;
        padding: 30px 10px;
    }

    .redes i {
        font-size: 24px;
        margin: 10px;
        color: #1683CE;
        transition: color 0.3s ease;
    }
    .redes i:hover {
        color: #1683CE;
        transform: scale(1.10); /* Hace el producto 10% más grande al pasar el mouse */
   }
    

    .icono-mundo {
        font-size: 60px;
        margin-top: 20px;
        color: #1683CE;

    }

    footer {
        background: linear-gradient(to right, #095b91, #00b4e0);
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }

    .footer-logo img {
         height: 90px;/*tamaño del logo*/
    }
     .footer-logo p {
        margin: 5px 0;
    }

    .contacto, .empresa {
        margin-top: 10px;
    }

    .contacto h4, .empresa h4 {
        margin-bottom: 10px;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
    }
    hr{
         border: none;
    height: 2px;
    background-color: #1683CE; /* Cambia el color aquí */
    }
